body {
  margin: 0;
  font-family: 'Segoe UI', Verdana, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  color: #cc4e2e;
  margin: 20px 0;

  @media screen and (max-width: 600px) {
    font-size: 24px;
  }
}

#home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  @media screen and (max-width: 600px) {
    width: 100%;
    margin-right: 0;
    font-size: 14px;
    padding: 8px;
  }
}

button {
  margin: 0 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #cc4e2e;
  color: white;
  border: none;
  border-radius: 5px;

  @media screen and (max-width: 600px) {
    margin: 5px 0;
  }
}

li {
  margin: 10px 0;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

li {
  float: left;
  margin-right: 10px;

  @media screen and (max-width: 600px) {
    margin-right: 5px;
  }
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  background-color: #c9bfbf;
}

.map-and-details-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 20px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}



.restaurant-detail {
  max-width: 100%;
  width: 500px;
  margin-left: 0;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  @media screen and (min-width: 601px) {
    max-width: 48%;
    margin-left: 2%;
    margin-right: 5%;
  }
}


.restaurant-detail .image-container { 
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.restaurant-detail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-container {
  width: 80%;
  max-width: 100%;
  margin: auto;
  height: auto;
}


