/* Map.css */
.marker-selected {
  opacity: 1;
  transform: scale(1.8);
}

.map-icon {
  border-radius: 50%;
}

/* Map styles */


.map-container {
  flex: 1;
  max-width: 100%;

  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
  width: 100%;
}
