/* Map.css */
.marker-selected {
  opacity: 1;
  transform: scale(1.8);
}

.map-icon {
  border-radius: 50%;
}

/* Map styles */
#map-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}